@use "../util/" as u;
@use "sass:map" as map;

h1,
h2,
h3,
h4,
p,
a {
  margin: 0;
  line-height: 1.1;
  text-decoration: none;
}

h1 {
  @include u.fs-typography-switching(
    "text-mobile-preset-1",
    "text-preset-1",
    "medium"
  );
}

h2 {
  @include u.fs-typography-switching(
    "text-mobile-preset-1",
    "text-preset-2",
    "medium"
  );
}

h3 {
  @include u.fs-typography-switching(
    "text-mobile-preset-2-regular",
    "text-preset-5-regular",
    "medium"
  );
}

h4 {
  @include u.fs-typography-switching(
    "text-mobile-preset-1",
    "text-preset-2",
    "medium"
  );
}

p {
  @include u.fs-typography-switching(
    "text-mobile-preset-2-regular",
    "text-preset-4",
    "medium"
  );

  color: var(--blue-950);
  opacity: 0.5;
}

a,
button {
  @include u.fs-typography-switching(
    "text-mobile-preset-2-medium",
    "text-preset-6-medium",
    "medium"
  );

  color: var(--white);
}

input,
.container__nav-links a,
.container__nav-links-header a {
  @include u.fs-typography-switching(
    "text-mobile-preset-2-regular",
    "text-preset-6-regular",
    "medium"
  );
}

.title-card {
  @include u.fs-typography-switching(
    "text-preset-3",
    "text-preset-3",
    "medium"
  );

  color: var(--blue-950);
  opacity: 1;
}

.intro__subscribe {
  p {
    text-transform: uppercase;
    color: var(--white);
    opacity: 1;

    @include u.fs-typography-switching(
      "text-mobile-preset-3",
      "text-preset-6-semibold",
      "medium"
    );
  }

  h2 {
    color: var(--white);
  }
}

.dialog__nav nav a,
.button__dialog-login {
  @include u.fs-typography-switching("text-preset-4", "text-preset-4", "large");
  color: var(--white);
}
