@use "functions" as f;

$font1: "Rubik", sans-serif;

$typographies: (
  "text-preset-1": (
    "font-family": $font1,
    "font-weight": 500,
    //Medium
    "font-size": f.rem(48),
    "line-height": 1.1,
    "letter-spacing": f.em(0),
    "font-style": normal,
  ),

  "text-preset-2": (
    "font-family": $font1,
    "font-weight": 500,
    "font-size": f.rem(32),
    "line-height": 1.25,
    "letter-spacing": f.em(-0.1),
    "font-style": normal,
  ),

  "text-preset-3": (
    "font-family": $font1,
    "font-weight": 500,
    "font-size": f.rem(20),
    "line-height": 1.2,
    "letter-spacing": f.em(0.25),
    "font-style": normal,
  ),

  "text-preset-4": (
    "font-family": $font1,
    "font-weight": 400,
    "font-size": f.rem(18),
    "line-height": 1.55,
    "letter-spacing": f.em(0),
    "font-style": normal,
  ),

  "text-preset-5-light": (
    "font-family": $font1,
    "font-weight": 300,
    "font-size": f.rem(16),
    "line-height": 2.25,
    "letter-spacing": f.em(0.5),
    "font-style": normal,
  ),

  "text-preset-5-regular": (
    "font-family": $font1,
    "font-weight": 400,
    "font-size": f.rem(16),
    "line-height": 1.1,
    "letter-spacing": f.em(0.5),
    "font-style": normal,
  ),

  "text-preset-5-medium": (
    "font-family": $font1,
    "font-weight": 500,
    "font-size": f.rem(16),
    "line-height": 1.4,
    "letter-spacing": f.em(-0.5),
    "font-style": normal,
  ),

  "text-preset-6-medium": (
    "font-family": $font1,
    "font-weight": 500,
    "font-size": f.rem(14),
    "line-height": 2,
    "letter-spacing": f.em(0.25),
    "font-style": normal,
  ),

  "text-preset-6-regular": (
    "font-family": $font1,
    "font-weight": 400,
    "font-size": f.rem(14),
    "line-height": 2,
    "letter-spacing": f.em(0.25),
    "font-style": normal,
  ),

  "text-preset-6-semibold": (
    "font-family": $font1,
    "font-weight": 600,
    "font-size": f.rem(14),
    "line-height": 3,
    "letter-spacing": f.em(5),
    "font-style": normal,
  ),

  "text-preset-7-italic": (
    "font-family": $font1,
    "font-weight": 500,
    "font-size": f.rem(10),
    "line-height": 1.2,
    "letter-spacing": f.em(0.25),
    "font-style": italic,
  ),

  "text-mobile-preset-1": (
    "font-family": $font1,
    "font-weight": 500,
    "font-size": f.rem(30),
    "line-height": 1.35,
    "letter-spacing": f.em(0),
    "font-style": normal,
  ),

  "text-mobile-preset-2-medium": (
    "font-family": $font1,
    "font-weight": 500,
    "font-size": f.rem(15),
    "line-height": 2,
    "letter-spacing": f.em(0),
    "font-style": normal,
  ),

  "text-mobile-preset-2-regular": (
    "font-family": $font1,
    "font-weight": 400,
    "font-size": f.rem(15),
    "line-height": 1.65,
    "letter-spacing": f.em(0),
    "font-style": normal,
  ),

  "text-mobile-preset-2-light": (
    "font-family": $font1,
    "font-weight": 300,
    "font-size": f.rem(15),
    "line-height": 2,
    "letter-spacing": f.em(0),
    "font-style": normal,
  ),

  "text-mobile-preset-3": (
    "font-family": $font1,
    "font-weight": 500,
    "font-size": f.rem(12),
    "line-height": 3,
    "letter-spacing": f.em(5),
    "font-style": normal,
  ),

  "text-mobile-preset-4-italic": (
    "font-family": $font1,
    "font-weight": 500,
    "font-size": f.rem(10),
    "line-height": 1.2,
    "letter-spacing": f.em(0.25),
    "font-style": italic,
  ),
);
