@use "../util" as u;

.container {
  display: grid;
  align-items: center;
  justify-content: center;

  &__hero {
    gap: var(--spacing-0600);

    @include u.breakpoint(large) {
      --space-lr: var(--spacing-2000);
      --space-gap: var(--spacing-0400);
      --col-count: 12;

      max-height: 450px;

      grid-template-columns:
        1fr repeat(
          var(--col-count),
          calc(
            (
                min(100% - var(--space-lr), u.rem(1110)) -
                  (var(--col-count) - 1) * var(--space-gap)
              ) / var(--col-count)
          )
        )
        1fr;

      .section__hero-image {
        grid-column: 8/-1;
        grid-row: 1;
        max-height: 100%;
      }

      .section__hero-text {
        grid-column: 2/9;
        grid-row: 1;
      }
    }
  }

  &__browser-links {
    grid-template-columns: repeat(2, min-content);
    gap: var(--spacing-0200);
    justify-content: center;
    justify-items: center;
    a {
      text-align: center;
    }
  }
}
