@use "../util" as u;

.container {
  display: grid;
  align-items: center;
  justify-content: center;

  &__image-hero {
    align-self: end;
    @include u.breakpoint(large) {
      grid-template-columns: 1fr;
    }
  }

  &__browser-links {
    grid-template-columns: repeat(2, min-content);
    gap: var(--spacing-0200);
    justify-content: center;
    justify-items: center;
    a {
      text-align: center;
    }
  }

  &__features {
    row-gap: var(--spacing-0300);
  }

  &__nav-links-header {
    ul {
      display: flex;
      list-style-type: none;
      column-gap: var(--spacing-0600);
      a {
        color: var(--blue-950);
      }
      a:hover {
        color: var(--red-400);
      }
    }
  }

  &__header-right {
    display: flex;
    column-gap: var(--spacing-0600);
  }
}

svg {
  width: 100%;
  height: 100%;
}

.container__image-hero {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 2fr;

  max-height: 450px;

  @include u.breakpoint(medium) {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 2fr 5fr;
  }

  img {
    justify-self: center;
    grid-column: 1/-1;
    grid-row: 1/-1;

    @include u.breakpoint(large) {
      grid-column: 1/-2;
      justify-self: start;
    }
  }

  .circle {
    grid-column: 2/4;
    grid-row: 2/-1;

    align-self: end;

    @include u.breakpoint(medium) {
      grid-column: 4/8;
    }

    @include u.breakpoint(large) {
      grid-column: 2/6;
    }
  }

  .rect {
    grid-column: 3/-1;
    grid-row: 2;

    @include u.breakpoint(medium) {
      grid-column: 6/-1;
    }

    @include u.breakpoint(large) {
      grid-column: 4/-1;
    }
  }
}

main {
  display: grid;
  row-gap: var(--spacing-1000);
}
