@use "../util/" as u;

.grid {
  --space-lr: var(--spacing-0400);
  --space-gap: 1px;
  --col-count: 2;

  display: grid;

  grid-template-columns:
    1fr repeat(
      var(--col-count),
      calc(
        (
            min(100% - var(--space-lr), u.rem(1110)) - (var(--col-count) - 1) *
              var(--space-gap)
          ) / var(--col-count)
      )
    )
    1fr;

  column-gap: var(--space-gap);
  row-gap: var(--spacing-0200);
  align-items: center;

  @include u.breakpoint(medium) {
    --space-lr: var(--spacing-1000);
  }

  @include u.breakpoint(large) {
    --space-lr: var(--spacing-2000);
    --space-gap: var(--spacing-0400);
  }

  &__header {
    --col-count: 1;
    padding: var(--spacing-0500) 0;

    .container__header {
      grid-column: 2;
      display: flex;
      justify-content: space-between;
    }

    .button__header-menu {
      @include u.breakpoint(large) {
        display: none;
      }
    }

    .button__login,
    .container__nav-links-header {
      display: none;

      @include u.breakpoint(large) {
        display: block;
      }
    }
  }

  &__hero {
    align-items: center;
    justify-content: center;

    @include u.breakpoint-down(large) {
      --col-count: 1;
    }

    .section__hero-image {
      grid-column: 1/-1;

      @include u.breakpoint(large) {
        grid-column: 3/-1;
      }
    }

    .section__hero-text {
      grid-column: 1/-1;

      @include u.breakpoint(large) {
        grid-column: 2;
        grid-row: 1;
      }
    }
  }

  &__text-hero {
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: var(--spacing-0300);

    @include u.breakpoint(medium) {
      --col-count: 8;
    }

    @include u.breakpoint(large) {
      text-align: start;
      justify-content: start;
      justify-items: start;
      grid-template-columns: 1fr;
    }

    h1 {
      grid-column: 2/-2;
      grid-row: 1;
      @include u.breakpoint(medium) {
        grid-column: 3/-3;
      }
      @include u.breakpoint(large) {
        grid-column: 1;
      }
    }
    p {
      grid-column: 2/-2;
      grid-row: 2;
    }
    div {
      grid-column: 2/-2;
      grid-row: 3;
    }
  }

  &__feature-intro,
  &__download-intro,
  &__faq-intro {
    --col-count: 12;
    justify-content: center;
    align-items: center;
    text-align: center;

    h2 {
      grid-column: 2/-2;
    }
    p {
      grid-column: 2/-2;
      @include u.breakpoint(large) {
        grid-column: 4/-4;
      }
    }
  }

  &__tabs {
    --col-count: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-template-rows: min-content 1fr;

    @include u.breakpoint(large) {
      --col-count: 12;
    }

    .container__tabs {
      grid-column: 2/-2;

      @include u.breakpoint(large) {
        grid-template-rows: min-content 1fr 1fr;
        grid-column: 4/-4;
      }
    }
    .wrapper__tab-image {
      grid-column: 1/-1;
      height: 100%;
      img {
        height: 100%;
        object-fit: contain;
      }

      @include u.breakpoint(large) {
        grid-column: 1/7;
        grid-row: 2;
      }
    }
    .container__tab-details {
      grid-column: 2/-2;

      @include u.breakpoint(large) {
        grid-column: 8/-2;
        grid-row: 2;
        text-align: start;
      }
    }
  }

  &__download-links {
    --col-count: 1;
    justify-content: center;
    align-items: center;

    > * {
      grid-column: 2;
    }

    @include u.breakpoint(medium) {
      --col-count: 3;

      > :nth-child(1) {
        grid-column: 2;
      }
      > :nth-child(2) {
        grid-column: 3;
      }
      > :nth-child(3) {
        grid-column: 4;
      }
    }

    @include u.breakpoint(large) {
      grid-template-rows: repeat(6, 1fr);

      > :nth-child(1) {
        grid-row: 1/5;
      }
      > :nth-child(2) {
        grid-row: 2/6;
      }
      > :nth-child(3) {
        grid-row: 3/7;
      }
    }
  }

  &__faq-content {
    --col-count: 1;

    @include u.breakpoint(large) {
      --col-count: 12;
    }

    > * {
      grid-column: 2;

      @include u.breakpoint(large) {
        grid-column: 4/-4;
      }
    }
  }

  &__more-faq {
    --col-count: 1;
    justify-items: center;
    align-items: center;
    justify-content: center;

    > * {
      grid-column: 2;
    }
  }

  &__subscribe {
    --col-count: 1;
    align-items: center;
    justify-content: stretch;
    text-align: center;
    row-gap: var(--spacing-0400);

    > * {
      grid-column: 2;

      @include u.breakpoint(medium) {
        grid-column: 3/-3;
      }

      @include u.breakpoint(large) {
        grid-column: 5/-5;
      }
    }

    @include u.breakpoint(medium) {
      --col-count: 8;
    }

    @include u.breakpoint(large) {
      --col-count: 12;
    }
  }

  &__footer {
    --col-count: 1;
    background-color: var(--blue-950);

    > * {
      grid-column: 2;
    }
  }

  &__dialog {
    --col-count: 2;

    height: 100%;
    display: grid;
    align-content: start;
    padding: var(--spacing-0500) 0;
    justify-content: stretch;

    .container__company-logo {
      grid-column: 2;
      justify-self: start;
    }

    .container__button-close {
      grid-column: 3;
      justify-self: end;
    }

    nav {
      grid-column: 2/-2;
      grid-row: 2;
      text-align: center;
    }

    .button__dialog-login {
      grid-column: 2/-2;
      grid-row: 3;
    }

    .container__dialog-social-links {
      grid-column: 2/-2;
      grid-row: 4;
      height: 100%;
    }
  }
}
