@use "../util/" as u;

.grid {
  --space-lr: var(--spacing-0400);
  --space-gap: 1px;
  --col-count: 2;

  display: grid;

  grid-template-columns:
    1fr repeat(
      var(--col-count),
      calc(
        (
            min(100% - var(--space-lr), u.rem(1110)) - (var(--col-count) - 1) *
              var(--space-gap)
          ) / var(--col-count)
      )
    )
    1fr;

  column-gap: var(--space-gap);
  row-gap: var(--spacing-0200);
  align-items: center;

  @include u.breakpoint(medium) {
    --space-lr: var(--spacing-1000);
  }

  @include u.breakpoint(large) {
    --space-lr: var(--spacing-2000);
    --space-gap: var(--spacing-0400);
  }

  &__header {
    .image__logo {
      grid-column: 2;
      justify-self: start;
    }

    .button__header-menu {
      grid-column: 3;
      justify-self: end;

      @include u.breakpoint(large) {
        display: none;
      }
    }
  }

  &__hero {
    align-items: center;
    justify-content: center;

    @include u.breakpoint-down(large) {
      --col-count: 1;
    }

    .section__hero-image {
      grid-column: 1/-1;

      @include u.breakpoint(large) {
        grid-column: 3/-1;
      }
    }

    .section__hero-text {
      grid-column: 1/-1;

      @include u.breakpoint(large) {
        grid-column: 2;
        grid-row: 1;
      }
    }
  }

  &__text-hero {
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: var(--spacing-0300);

    @include u.breakpoint(medium) {
      --col-count: 8;
    }

    @include u.breakpoint(large) {
      text-align: start;
      justify-content: start;
      justify-items: start;
    }

    h1 {
      grid-column: 2/-2;
      grid-row: 1;
      @include u.breakpoint(medium) {
        grid-column: 3/-3;
      }
      @include u.breakpoint(large) {
        grid-column: 2/-1;
      }
    }
    p {
      grid-column: 2/-2;
      grid-row: 2;
    }
    div {
      grid-column: 2/-2;
      grid-row: 3;
    }
  }

  &__feature-intro {
    justify-content: center;
    align-items: center;
    text-align: center;

    h2 {
      grid-column: 2/-2;
    }
    p {
      grid-column: 2/-2;
      @include u.breakpoint(large) {
        grid-column: 4/-4;
      }
    }
  }

  &__tabs {
    --col-count: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-template-rows: min-content 1fr;

    @include u.breakpoint(large) {
      --col-count: 12;
    }

    .container__tabs {
      grid-column: 2/-2;

      @include u.breakpoint(large) {
        grid-template-rows: min-content 1fr 1fr;
        grid-column: 4/-4;
      }
    }
    .wrapper__tab-image {
      grid-column: 1/-1;
      height: 100%;
      img {
        height: 100%;
        object-fit: contain;
      }

      @include u.breakpoint(large) {
        grid-column: 1/8;
        grid-row: 2;
      }
    }
    .container__tab-details {
      grid-column: 2/-2;

      @include u.breakpoint(large) {
        grid-column: 8/-2;
        grid-row: 2;
        text-align: start;
      }
    }
  }
}
