@use "../util/" as u;

.grid {
  --space-lr: var(--spacing-0400);
  --space-gap: 1px;
  --col-count: 2;

  display: grid;

  grid-template-columns:
    1fr repeat(
      var(--col-count),
      calc(
        (
            min(100% - var(--space-lr), u.rem(1110)) - (var(--col-count) - 1) *
              var(--space-gap)
          ) / var(--col-count)
      )
    )
    1fr;

  grid-auto-rows: min-content;
  min-height: var(--spacing-0500);

  column-gap: var(--space-gap);
  row-gap: var(--spacing-0200);
  align-items: center;

  @include u.breakpoint(medium) {
    --space-lr: var(--spacing-1000);
  }

  @include u.breakpoint(large) {
    --space-lr: var(--spacing-2000);
    --space-gap: var(--spacing-0400);
    --col-count: 12;
  }

  &__header {
    .image__logo {
      grid-column: 2;
      justify-self: start;
    }

    .button__header-menu {
      grid-column: 3;
      justify-self: end;

      @include u.breakpoint(large) {
        display: none;
      }
    }
  }

  &__image-hero {
    grid-column: 1/-1;
    --col-count: 12;
    max-height: 450px;

    grid-template-rows: repeat(5, 2fr);
    row-gap: var(--spacing-0100);
    overflow: hidden;

    @include u.breakpoint(medium) {
      --space-gap: var(--spacing-0200);
      --col-count: 8;
    }

    @include u.breakpoint(large) {
      grid-template-rows: repeat(4, 2fr);
    }

    img {
      grid-column: 1/-1;
      grid-row: 2/6;
      width: 100%;
      max-height: 100%;
      object-fit: contain;

      @include u.breakpoint(large) {
        grid-row: 1/5;
        grid-column: 1/-2;
      }
    }

    svg {
      grid-column: 3/-1;
      grid-row: 3/6;
      height: 100%;
      max-height: 100%;
      object-fit: cover;

      @include u.breakpoint(medium) {
        grid-column: 4/-1;
      }

      @include u.breakpoint(large) {
        grid-row: 2/5;
      }
    }
  }

  &__text-hero {
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: var(--spacing-0300);

    @include u.breakpoint(medium) {
      --col-count: 8;
    }

    @include u.breakpoint(large) {
      text-align: start;
      justify-content: start;
      justify-items: start;
    }

    h1 {
      grid-column: 2/-2;
      grid-row: 1;
      @include u.breakpoint(medium) {
        grid-column: 3/-3;
      }
      @include u.breakpoint(large) {
        grid-column: 2/-1;
      }
    }
    p {
      grid-column: 2/-2;
      grid-row: 2;
    }
    div {
      grid-column: 2/-2;
      grid-row: 3;
    }
  }
}
