.button {
  background-color: var(--blue-600);
  padding: var(--spacing-0100) var(--spacing-0300);
  border-radius: 5px;
  white-space: nowrap;

  &.white {
    background-color: var(--gray-050);
    color: var(--blue-950);
  }
}

.button:hover {
  background-color: var(--white);
  color: var(--blue-600);
  outline: 2px solid var(--blue-600);

  &.white {
    color: var(--blue-950);
    outline: 2px solid var(--blue-950);
  }
}

button {
  background-color: var(--red-400);
  padding: var(--spacing-0200);
  border: none;
  border-radius: 5px;
}
